<ion-content [fullscreen]="true" class="onboarding-content">
  <div class="phone-frame">
    <div id="onboarding">
      <div class="slides-track" [style.transform]="getTrackTransform()">

        <div class="slide">
          <div class="slide-bg-blob bg-green"></div>

          <div class="slide-illustration">
            <img
              src="assets/images/onboarding1.1.png"
              alt="Reporta incidencias"
              class="slide-image"
            />
          </div>

          <div class="slide-content">
            <div class="slide-subtitle">{{ slides[0].step }}</div>
            <div class="slide-title">{{ slides[0].title }}</div>
            <div class="slide-text">{{ slides[0].text }}</div>
          </div>
        </div>

        <div class="slide">
          <div class="slide-illustration">
            <img
              src="assets/images/onboarding2.png"
              alt="Consulta rutas y mapa"
              class="slide-image-large"
            />
          </div>

          <div class="slide-content">
            <div class="slide-subtitle">{{ slides[1].step }}</div>
            <div class="slide-title">{{ slides[1].title }}</div>
            <div class="slide-text">{{ slides[1].text }}</div>
          </div>
        </div>

        <div class="slide">
          <div class="slide-illustration">
            <img
              src="assets/images/onboarding3.png"
              alt="Aprende hábitos ecológicos"
              class="slide-image-large"
            />
          </div>

          <div class="slide-content">
            <div class="slide-subtitle">{{ slides[2].step }}</div>
            <div class="slide-title">{{ slides[2].title }}</div>
            <div class="slide-text">{{ slides[2].text }}</div>
          </div>
        </div>

      </div>

      <div class="onboarding-bottom">
        <div class="dots">
          <div
            class="dot"
            *ngFor="let slide of slides; let i = index"
            [class.active]="i === current"
            (click)="goTo(i)">
          </div>
        </div>

        <div class="btn-row">
          <button class="btn-skip" [class.hide]="isLastSlide()" (click)="skipToHome()">
            Omitir
          </button>

          <button class="btn-next" [class.last]="isLastSlide()" (click)="nextSlide()">
            {{ isLastSlide() ? 'Comenzar' : 'Siguiente' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
